pandas
numpy
scipy
scikit-learn
yfinance
ta
transformers
torch
hmmlearn
pgmpy
statsmodels
arch
shap
plotly
chromadb
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
copulas
ruptures
groq
streamlit
python-dotenv
